@charset "utf-8";

@font-face {
	font-family: fontiimport;
	src:url("fonti.ttf");

}
body {
	margin:0;
	padding:0;
	width:100%;
	color:#9a9a9a;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main {
	padding:0;
	margin:0;
	background:#fefefe url(images/cats.jpg) top repeat-x;
}

html, .main2 {
	padding:0;
	margin:0;
	background:#fefefe url(images/support.jpg) top repeat-x;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:;
}
.logo {
	padding:30px 0 20px 0;
	margin:0 auto;
	width:450px;
	float:left;
}
.logo img {
	float:left;
	margin:0 10px 0 0;
}
h1 {
	margin:0;
	padding:5px 0;
	width:300px;
	color:#fff;
	font:normal 36px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a {
	color:#fff;
	text-decoration:none;
}
h1 a:hover {
	color:#ffae00;
	text-decoration:none;
}
h1 a:hover span {
	color:#fff;
}
h1 span {
	color:#ffae00;
}
h1 small {
	color:#fff;
	display:inline;
	padding:0 0 0 10px;
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:normal 24px Arial, Helvetica, sans-serif;
	padding:0;
	margin:5px 0;
	color:#595959;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 16px/1.2em Arial, Helvetica, sans-serif;
	color:black;
}
p.spec {
	text-align:right;
}
a {
	color:#ffae00;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a.rm, a.com {
	margin-left:8px;
	padding:9px 12px;
	background:repeat-x top;
	text-decoration:none;
	color:#fff;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:3px 0 0 0;
	width:970px;
}
.header_img {
	width:970px;
	padding:73px 0 0 0;
}



.header_img img {
	float:right;
}

.header_img2 img {
	float:left;
}
.header_img h2 {
	width:500px;
	float:left;
	text-align:left;
	font:normal 24px Arial, Helvetica, sans-serif;
	color:#fff;
	padding:50px 0 0 0;
	margin:0;
}
.header_img h2 span {
	font:normal 46px Arial, Helvetica, sans-serif;
	color:#;
}
.header_img p {
	width:500px;
	float:left;
	text-align:left;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#fefefe;
	line-height:1.8em;
	padding:10px 0 0 0;
}
.menu_nav {
	margin:40px 0 0 0;
	padding:3px 0 0 0;
	float:right;
	width:510px;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	margin:0;
}
.menu_nav li {
	float:left;
	padding:0 5px;
}
.menu_nav li a {
	font:bold  16px Arial, Helvetica, sans-serif;
	color:#fefefe;
	display:block;
	float:left;
	padding:10px;
}
.menu_nav li a:hover {
	text-decoration:none;
	color:#ffa800;
}
.menu_nav li.active a {
	text-decoration:none;
	color:#ffa800;
}
.search {
	margin:0;
	padding:20px 0;
	width:270px;
}
.search form {
	padding:0;
	margin:0;
}
.search span {
	display:block;
	float:left;
	background:#fff;
	border:1px solid #dcdcdd;
	width:190px;
	padding:0 0 0 10px;
	height:29px;
	margin:0;
}

.content {
	padding:10px 0 0 0;
}
.content_resize {
	margin:0 auto;
	padding:20px 0 0 0;
	width:970px;
}
.content .mainbar {
	margin:0;
	float:right;
}
.content .mainbar img {
	float:left;
	padding:4px;
	margin:0 10px 0 0;
	border:1px solid #eaecec;
	background-color:#fff;
}
.content .mainbar .article {
	margin:0 0 20px 0;
	padding:30px 20px;
	width:610px;
}
.content .mainbar .article span.butons a {
	margin:0 5px 0 0;
	float:right;
	color:#9a9a9a;
	padding:1px 10px;
	text-decoration:none;
	border:1px solid #ebe8e8;
	background:#fbfbfc;
}
.content .mainbar .article span.butons a:hover {
	border:1px solid #d9f0ff;
	background:#ffae00;
	color:#fff;
	text-decoration:none;
}
.content .mainbar .article span.butons a.active {
	border:1px solid #ebe8e8;
	background:#ffae00;
	color:#fff;
	text-decoration:none;
}
.content .sidebar {
	margin:0;
	padding:0;
	float:left;
}
.content .sidebar .gadget {
	margin:0 0 20px 0;
	padding:30px 20px;
	width:230px;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0 4px 12px;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0 8px 12px;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#959595;
	text-decoration:none;
	margin-left:-12px;
	padding-left:22px;
	background:url(images/li_a_hover.gif) left no-repeat;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#ffae00;
	text-decoration:underline;
	background:url(images/li_a.gif) left no-repeat;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	padding:10px 0 0 0;
	background:url(images/fbg_bg.gif);
	margin:10px 0 0 0;
}
.fbg_resize {
	margin:0 auto;
	padding:20px 20px;
	width:930px;
}
.fbg h2 {
	color:#dedddd;
}
.fbg p {
	color:#959595;
}
.fbg a {
	color:#ffae00;
	text-decoration:none;
}
.fbg img {
	padding:4px;
	border:1px solid #cfd2d4;
	background-color:#fff;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:266px;
}
.fbg .c2 {
	padding:0 16px;
	width:300px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:260px;
}
.fbg .c1 img {
	margin:8px;
}
.fbg .c3 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
	width:970px;
	margin:0 auto;
	padding:40px 0 20px 0;
	color:#474746;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
	color:#474746;
}
.footer a {
	color:#474746;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}

#login img{
  margin: 10px 0;
}
#login .center {
  text-align: center;
}

#login .login {
  max-width: 300px;
	margin: 35px auto;
}

#login .login-form{
  padding:0px 25px;
}

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  align-items: flex-start;

  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 120%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 100%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
 
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);

}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.5rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 2.5;
  word-spacing: 100vw;

}

form {
  margin:0 auto;
  width:300px
}
input {
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}
button {
  padding:10px
}
label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}

p4 {
	color: black;
	font-size: 15px;

}

h4{

	color: blue;
	font-size: 18px;

}