body{
  background-color: rgb(74,94,113);
  font-family: Arial, Helvetica, sans-serif;
}

.row, .article-left{
  padding: 0;
  margin: 0;
}

.article-right{
  background-color: #FFF;
  padding-top: 30px;
}

ul li{
  text-transform: Uppercase;
  font-size: 1.8em;
  padding: 15px;
}

ul li a{
  color: #FFF;
}

a:hover{
  color: #DDD;
  text-decoration: none;
}

h1{
  font-size:3em;
  color: #333;
  padding-top: 15px;
}

h2{
   background-color: rgb(64,84,103);
   padding: 15px;
}

.title{
  background-color: rgb(44,64,83);
  padding: 10px;
}

ul li, .fa, h2, h3{
  color: #FFF;
}

.fa{
  padding-right: 20px;
}

.fa-heart-o{
  padding-left: 150px;
  padding-top: 20px;
  padding-bottom: 30px;
}

table {
  display: grid;
  line-height: 1.5;
  border: 0;
  border-collapse: collapse;
}

tr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}

tr:nth-of-type(odd) {
  background-color: #E5E5E5;
}

th {
  font-weight: 700;
  background-color: #f2f2f2;
  color: #666;
}

th,
td {
  padding: 0.5rem 0.1rem;
  border: 1px solid #BFBFBF;
  border-collapse: collapse;
  border-spacing: 0;
}

/* This will affect only Chrome browsers 29+
  * See: http://browserhacks.com/
  * Hack because 'hyphens: auto;' is supported in Chrome only on Android & Mac 
  * and word-break 'overrides' hyphens in Firefox
  */
.selector:not(*:root), th, td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

td:first-of-type {
  padding-left: .25rem;
  font-weight: 300;
  text-align: left;
  color: darkslategray;
}

/* Breaking the numbers! */
.numbers {
  word-break: break-word;
}